*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	background-image: url(images/bg1);*/
	background-position: center;
	background-size: 100%;
	padding-top: 30px;
}

.hero-container{
	width:  70%;
	margin: auto;
	padding: 20px;
	height:90%;
	background-image: url(images/bg.jpg);
	/*border: 5px solid black;*/
}

.game-board{
	width: 70%;
	margin:  auto;
	height: 70%;
	/*border: 2px solid gray;*/
}

.visuals{
	display: flex;
	height: 70%;
	align-items:center;
	justify-content:  center;
}

.computer, .user{
	flex-basis: 40%;
	height:100%;
	margin:  5px;
	text-align: center;
	font-size: 24px;
}

.computer-container, .user-container{
	width: 100%;
	height: 85%;
	border: 2px solid gray;
	border-radius:  10px;
	line-height:  150px;
	font-size: 30px;
}

.result{
	text-align:	center;
	margin-top: 15px;
	font-size: 30px;
}

.result p{
	margin-top:20px;
}

.blink{
	animation:blinking 2s infinite;
	font-size: 25px;
}

@keyframes blinking{
	0%{  color: red; }
	47%{  color: #000; }
	62%{  color: blue; }
	97%{  color:transparent; }
	100%{ color: #000;  }
}

.choose{
	display: flex;
	justify-content:  center;
	margin-top:  20px;
}

button{
	margin: 20px;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	font-size:  24px;
}